<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <centre>
        <h2>this is jinja</h2>
        {% if a > b %}
          {% if a > b %}
          {{a}}a is greater
          {% else %}
          {{b}}
          {% endif %}
        {% else b > c % }
          {% if b > c %}
          {{b}}b is greater
          {% else %}
          {{c}}
          {% endif %}
        {% endif %}
    </centre>
</body>
</html>